<!DOCTYPE html>
<html>

<head>
	<title>Profile</title>
	<link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>
	<h1>Hello, <%= user.name %> !</h1>
	<div><a href="/posts/all">View Your Posts</a> | <a href="/logout">Logout</a></div>
</body>

</html>
