<!DOCTYPE html>
<html>

<head>
	<title>Sign In</title>
	<link rel="stylesheet" href="/styles/styles.css" />
</head>

<body>
	<h1>Sign In</h1>
	<form action="/user/signin" method="POST">
		<label>Username <span class="required">*</span></label>
		<input type="text" name="username" placeholder="Enter username" required />
		<label>Password <span class="required">*</span></label>
		<input type="password" name="password" placeholder="Enter password" required />
		<button type="submit">Sign In</button>
		<% if (error) { %>
			<span class="error">
				<%= error %>
			</span>
		<% } %>
	</form>
	<p>Don't have an account? <a href="/signup">Sign Up</a></p>
	<p><a href="/user/auth/google">Login with Google</a></p>
	<script src="/scripts/main.js"></script>
</body>

</html>
