<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>Create a New Post</h1>

    <%- include ("form.ejs") %>

    <a href="/posts/all">â† Back to Posts</a>
</body>

</html>
