<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>Edit Post</h1>
<!-- %- used for rendering unescaped HTML -->
    <%- include ("form.ejs") %>

    <a href="/posts/all">← Back to Posts</a>
</body>

</html>
